

.leFooter{
    background-color: rgb(43, 60, 86); 
    min-height: 1vw;
    min-width: 100%;
    justify-content: end;

}

.OrderGeometry7{
    width: 100%;
    display: flex;
    list-style-type: none;

}

.generalParameters3{
    background-color: rgb(64, 85, 117); 
  }



.leFooter h2{
    font-family: 'Rajdhani', sans-serif;
    color: rgb(156, 179, 213); 
    font-weight: lighter;
    font-weight: 900;
    font-size: 130%;
    padding-left: 6%;
    justify-content: left;


    position: relative;
    animation-name: TextAnimationPresentation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes TextAnimationPresentation {
    0%   {left:0%;}
    100% {left:-4%;}
}



.OrderGeometry8{
    display: flex;
    list-style-type: none;
    transform: rotate(180deg);


}

@media all and (max-device-width: 1280px){

    footer{
        margin-top: 0vh;
    }

}

@media all and (max-device-width: 1024px){

    footer{
        margin-top: 0;
    }

}


@media all and (max-device-width: 540px){

    footer{
        margin-top: 0vh;
    }

}


@media all and (max-device-width: 412px){

    footer{
        margin-top: 0vh;
    }

}

@media all and (max-device-width: 390px){

    footer{
        margin-top: 0vh;
    }

}



@media all and (max-device-width: 280px){

    footer{
        margin-top: 0vh;
    }

}