.galeryImage{

    background-color: rgb(30, 39, 63); 
    width: 100%;
    height: 46vh;
    
}

.OrderGeometry3{
    width: 100%;
    display: flex;
    padding-bottom: 3vh;
    list-style-type: none;

}

.OrderGeometry4{
    display: flex;
    padding-top: 3vh;
    list-style-type: none;
}

.generalParametersGalery{
  background-color: rgba(183, 197, 215, 0.253);
}


#BarrTest{
    display: flex;
}

#imagesBarr{
  display: flex;
  gap: 4vw;
}

/*.image1 {animation-timing-function: linear;}*/


#image1{    
    width: 30vw;
    height: 17vw;
    position: relative;
    animation-name: image1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    filter: drop-shadow(8px 8px 10px rgb(14, 21, 43));
    animation-direction: alternate-reverse;
}

  @keyframes image1 {
    0%   {left:0vw; top:0vh;}
    25%  {left:1.5vw; top:1.5vh;}
    50%  {left:1.5vw; top:0vh;}
    75%  {left:0vw; top:1.5vh;}
    100% {left:0vw; top:0vh;}
  }


  #image2{
    width: 30vw;
    height: 17vw;
    position: relative;
    animation-name: image2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    filter: drop-shadow(8px 8px 10px rgb(34, 47, 86));
    animation-direction: alternate-reverse;
}

  @keyframes image2 {
    0%   {left:0vw; top:0vh;}
    25%  {left:1.5vw; top:1.5vh;}
    50%  {left:1.5vw; top:0vh;}
    75%  {left:0vw; top:1.5vh;}
    100% {left:0vw; top:0vh;}
  }



  #image3{
    width: 28vw;
    height: 17vw;
    position: relative;
    animation-name: image3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    filter: drop-shadow(8px 8px 10px rgb(78, 53, 67));
    animation-direction: alternate-reverse;
}

  @keyframes image3 {
    0%   {left:0vw; top:0vh;}
    25%  {left:1.5vw; top:1.5vh;}
    50%  {left:1.5vw; top:0vh;}
    75%  {left:0vw; top:1.5vh;}
    100% {left:0vw; top:0vh;}
  }


  #whiteGeometryA{

    min-height: 0.5vw;
    min-width: 8vw;

    position: relative;
    animation-name: whiteGeometryA;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryA {
    0%   {left:0vw;}
    100% {left:10vw;}
  }





  #whiteGeometryB{
    min-height: 0.5vw;
    min-width: 2vw;

    position: relative;
    animation-name: whiteGeometryB;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryB {
    0%   {left:10vw;}
    100% {left:15vw;}
  }





  #whiteGeometryC{
    min-height: 0.5vw;
    width: 6vw;

    position: relative;
    animation-name: whiteGeometryC;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryC {
    0%   {left:15vw;}
    100% {left:28vw;}
  }




  #whiteGeometryD{
    min-height: 0.5vw;
    width: 10vw;

    position: relative;
    animation-name: whiteGeometryD;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryD {
    0%   {left:28vw;}
    100% {left:37vw;}
  }




  #whiteGeometryE{
    min-height: 0.5vw;
    width: 4vw;

    position: relative;
    animation-name: whiteGeometryE;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryE {
    0%   {left:37vw;}
    100% {left:47vw;}
  }



  #whiteGeometryF{
    min-height: 0.5vw;
    min-width: 2vw;

    position: relative;
    animation-name: whiteGeometryF;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryF {
    0%   {left:47vw;}
    100% {left:67vw;}
  }




















  .whiteGeometryG{

    min-height: 0.5vw;
    min-width: 8vw;

    position: relative;
    animation-name: whiteGeometryG;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryG {
    0%   {left:0vw;}
    100% {left:10vw;}
  }





  .whiteGeometryH{
    min-height: 0.5vw;
    min-width: 2vw;

    position: relative;
    animation-name: whiteGeometryH;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryH {
    0%   {left:10vw;}
    100% {left:15vw;}
  }





  .whiteGeometryI{
    min-height: 0.5vw;
    width: 6vw;

    position: relative;
    animation-name: whiteGeometryI;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryI {
    0%   {left:15vw;}
    100% {left:28vw;}
  }




  #whiteGeometryJ{
    min-height: 0.5vw;
    width: 10vw;

    position: relative;
    animation-name: whiteGeometryJ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryJ {
    0%   {left:28vw;}
    100% {left:37vw;}
  }




  .whiteGeometryK{
    min-height: 0.5vw;
    width: 4vw;

    position: relative;
    animation-name: whiteGeometryK;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryK {
    0%   {left:37vw;}
    100% {left:47vw;}
  }



  .whiteGeometryL{
    min-height: 0.5vw;
    min-width: 2vw;

    position: relative;
    animation-name: whiteGeometryL;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometryL {
    0%   {left:47vw;}
    100% {left:67vw;}
  }





  @media all and (max-device-width: 540px){

    #imagesBarr{
      display: flex;
      flex-direction: column;
      gap: 4vw;
    }


    #image1{    
      width: 90vw;
      height: 51vw;
      padding-left: 5vw;
  }
  
  
    #image2{
      width: 90vw;
      height: 51vw;
      padding-left: 4.5vw;
  }
  
  
  
    #image3{
      width: 84vw;
      height: 51vw;
      padding-left: 6.5vw;
  }


  .galeryImage{

    height: 129.2vh;
    
}



}


  @media all and (max-device-width: 412px){

      #imagesBarr{
        display: flex;
        flex-direction: column;
        gap: 4vw;
      }


      #image1{    
        width: 90vw;
        height: 51vw;
        padding-left: 5vw;
    }
    
    
      #image2{
        width: 90vw;
        height: 51vw;
        padding-left: 4.5vw;
    }
    
    
    
      #image3{
        width: 84vw;
        height: 51vw;
        padding-left: 6.5vw;
    }


    .galeryImage{

      height: 81vh;
      
  }



}




@media all and (max-device-width: 390px){

  #imagesBarr{
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }


  #image1{    
    width: 90vw;
    height: 51vw;
    padding-left: 5vw;
}


  #image2{
    width: 90vw;
    height: 51vw;
    padding-left: 4.5vw;
}



  #image3{
    width: 84vw;
    height: 51vw;
    padding-left: 6.5vw;
}


.galeryImage{

  height: 83vh;
  
}



}





