header{
    background-color: rgb(44, 60, 84); 
    width: 100%;
    
}

.OrderGeometry{
    width: 100%;
    display: flex;
    list-style-type: none;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}

.OrderGeometry2{
    display: flex;
    list-style-type: none;
    transform: rotate(180deg);
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}


.generalParameters{
    background-color: rgb(204, 204, 204); 
}









.headerButton {
                                            
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 100%;
    height: 5vh;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    background-color: rgb(43, 60, 86); 
    color: WHITE;
    border: 4px solid rgb(57, 77, 107); 
    padding-bottom: 4vh;

   
}

#globalHeader headerButton{
  text-decoration: none;
}



  .headerButton:hover {
    background-color: rgb(183, 197, 215); 
    color: rgb(43, 60, 86); 
  }









#whiteGeometry1{

    min-height: 0.5vw;
    min-width: 8vw;

    position: relative;
    animation-name: whiteGeometry1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry1 {
    0%   {left:0vw;}
    100% {left:10vw;}
  }





  #whiteGeometry2{
    min-height: 0.5vw;
    min-width: 2vw;

    position: relative;
    animation-name: whiteGeometry2;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry2 {
    0%   {left:10vw;}
    100% {left:15vw;}
  }





  #whiteGeometry3{
    min-height: 0.5vw;
    width: 6vw;

    position: relative;
    animation-name: whiteGeometry3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry3 {
    0%   {left:15vw;}
    100% {left:28vw;}
  }




  #whiteGeometry4{
    min-height: 0.5vw;
    width: 10vw;

    position: relative;
    animation-name: whiteGeometry4;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry4 {
    0%   {left:28vw;}
    100% {left:37vw;}
  }




  #whiteGeometry5{
    min-height: 0.5vw;
    width: 4vw;

    position: relative;
    animation-name: whiteGeometry5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry5 {
    0%   {left:37vw;}
    100% {left:47vw;}
  }



  #whiteGeometry6{
    min-height: 0.5vw;
    min-width: 2vw;

    position: relative;
    animation-name: whiteGeometry6;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry6 {
    0%   {left:47vw;}
    100% {left:67vw;}
  }








  #whiteGeometry7{

    min-height: 0.5vw;
    min-width: 8vw;

    position: relative;
    animation-name: whiteGeometry7;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry7 {
    0%   {left:0vw;}
    100% {left:10vw;}
  }





  #whiteGeometry8{
    min-height: 0.5vw;
    min-width: 2vw;

    position: relative;
    animation-name: whiteGeometry8;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry8 {
    0%   {left:10vw;}
    100% {left:15vw;}
  }





  #whiteGeometry9{
    min-height: 0.5vw;
    width: 6vw;

    position: relative;
    animation-name: whiteGeometry9;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry9 {
    0%   {left:15vw;}
    100% {left:28vw;}
  }




  #whiteGeometry10{
    min-height: 0.5vw;
    width: 10vw;

    position: relative;
    animation-name: whiteGeometry10;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry10 {
    0%   {left:28vw;}
    100% {left:37vw;}
  }




  #whiteGeometry11{
    min-height: 0.5vw;
    width: 4vw;

    position: relative;
    animation-name: whiteGeometry11;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry11 {
    0%   {left:37vw;}
    100% {left:47vw;}
  }



  #whiteGeometry12{
    min-height: 0.5vw;
    min-width: 2vw;

    position: relative;
    animation-name: whiteGeometry12;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}

@keyframes whiteGeometry12 {
    0%   {left:47vw;}
    100% {left:67vw;}
  }



  @media all and (max-device-width: 412px){


    .headerButton {
                                            
      padding: 12px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 3vh;
      transition-duration: 0.3s;
      cursor: pointer;
      width: 100%;
      height: 8vh;
      font-family: 'Rajdhani', sans-serif;
      font-weight: 600;
      background-color: rgb(43, 60, 86); 
      color: WHITE;
      border: 4px solid rgb(57, 77, 107); 
  }



}